table, td, th, tr{
	border-color: #d7d7d7;
	border-style: solid;
	border-width: 0.5px;
	border-collapse: collapse;
	font-family: arial;
}
.textbold{
	font-weight: bold;
}
.textred{
	color: red;
}
.textwhite{
	color: white;
}
.columnwide{
	width: 267px;
}
.columnnormal{
	width: 45px;
}
.columnsmall{
	width: 33px;
}
.bggreen{
	background-color: #65A530;
}
.bgyellow{
	background-color: #FFFFBB;
}
.bglightgreen{
	background-color: #E8F5DE;
}
.bgblue{
	background-color: #D5FFFF;
}
.textcenter{
	text-align: center;
}
.row40px{
	height: 40px;
}
.row32px{
	height: 32px;
}
.borderwhite{
	border-color: white;
}